 body {
     font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
 }
 
 ul {
     margin: 0;
 }
 
 h3 {
     font-size: 20px;
 }
 
 p {
     font-size: 16px;
     letter-spacing: 1px;
 }
 
.hr {
     background: #777;
     width: 30%;
     margin: 20px 0;
     height: 2px;
 }
 
 nav {
     background: #777;
     height: 50px;
     width: 100%;
     background-color: transparent;
 }
 
 #banner {
     background-color: transparent;
     height: 700px;
 }
 
 nav ul {
     list-style: none;
     margin: 0 25px 0 0;
     float: right;
 }
 
 nav ul li {
     display: inline-block;
 }
 
 nav ul li a,
 .logo a {
     line-height: 50px;
     text-decoration: none;
     display: inline-block;
     height: inherit;
     color: #fff;
     padding: 0 20px;
     -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
     transition: all 0.2s ease;
 }
 
 .logo {
     float: left;
     font-size: 20px;
     font-weight: 700;
     letter-spacing: 1px;
     margin-left: 25px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 
 nav .active a {
     background: #fff;
     color: #777;
 }
 
 header nav ul li:not(.active) a:hover {
     -webkit-transition: all 0.1s ease-out;
     -moz-transition: all 0.1s ease-out;
     transition: all 0.1s ease-out;
     background-color: #fff;
     color: #777;
 }
 
 #footer {
     background-color: rgba(0, 0, 0, 0.88);
     color: #fff;
     width: 100%;
     min-height: 200px;
     text-align: center;
 }
 
 ul .share-group {
     display: block;
     width: 100%;
     margin: 0 auto;
 }
 
 .share-group {
     padding: 40px;
 }
 
 .share-group li {
     display: inline-block;
     padding: 10px;
     -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
 }
 
 #copy p {
     padding: 20px 0 15px;
     font-size: 14px;
     letter-spacing: 0;
     margin: 0 auto;
 }
 
 #gototop {
     width: 32px;
     margin: 0 84%;
     border: #fff solid 1px;
 }
 
 #gototop a {
     display: block;
     text-decoration: none;
     color: #ccc;
     -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
     transition: all 0.2s;
 }
 /*动画部分*/
 /*微博*/
 
 .fa.fa-weibo.fa-lg:hover {
     -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
     transform: translateY(-5px);
     color: red;
 }
 /*谷歌*/
 
 .fa.fa-google-plus.fa-lg:hover {
     -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
     transform: translateY(-5px);
     color: orange;
 }
 /*扣扣*/
 
 .fa.fa-qq.fa-lg:hover {
     -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
     transform: translateY(-5px);
     color: #17b2ec;
 }
 /*推特*/
 
 .fa.fa-twitter.fa-lg:hover {
     -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
     transform: translateY(-5px);
     color: #1ab2e8;
 }
 /*微信*/
 
 .fa.fa-weixin.fa-lg:hover {
     -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
     transform: translateY(-5px);
     color: #7dd43c;
 }
 /*按钮*/
 
 .inner button:hover {
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     color: #444;
     background-color: rgba(255, 255, 255, 0.85);
 }
 
 #gototop a:hover {
     -webkit-transition: all 0.1s ease-in-out;
     -moz-transition: all 0.1s ease-in-out;
     transition: all 0.1s ease-in-out;
     color: rgba(0, 13, 33, 0.88);
     background-color: #fff;
 }